<!DOCTYPE html>
<html lang="en">
<head>
  <title>트랙 정보</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<style>
    .nnav{
      font-size:20px;
    
    }
    
    </style>
    </head>
    <body>
      <div class="navbar navbar-default navbar-fixed-top nnav">
      <div class="container">
    
          <div class="navbar-header">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a href="http://ec2-18-216-35-115.us-east-2.compute.amazonaws.com:8000/track" title="트랙현황">Home</a></li>
                <li><a href="http://ec2-18-216-35-115.us-east-2.compute.amazonaws.com:8000/admin/track/track/" title="트랙관리">트랙관리</a></li>
                <li><a href="http://ec2-18-216-35-115.us-east-2.compute.amazonaws.com:8000/admin/track/student/" title="트랙관리">학생관리</a></li>
              </ul>
            </div>
          </div>
            <div class="navbar-collapse collapse" id="test">
              <ul class="nav navbar-nav navbar-right">
                  <li><a>Login</a></li>
              </ul>
            </div>
      </div>
    </div>
    <br><br><br><br>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>ID</B></td>
            <td><B>이름</B></td>
            <td><B>학번</B></td>
            <td><B>트랙</B></td>
            <td><B>트랙기초교과</B></td>
            <td><B>트랙응용교과</B></td>
        </tr>
        </thead>
        <!-- 이 부분이 바뀌었습니다 -->
        <tbody>
        {% for candidate in candidates %}
        <tr>
            <td class="tid"> {{ candidate.index_id }} </td>
            <td class="name"> {{ candidate.name }} </td>
            <td class="number"> {{ candidate.student_id }} </td>
            <td class="track"> {{ candidate.track }} </td>
            <td class="trackbase"> {{ candidate.base }} </td>
            <td class="trackuse"> {{ candidate.use }} </td>
        </tr>
        {% endfor %}
        <!-- 여기까지 -->
        <tbody>
    </table>
</body>